.grid-container {
    display: grid;
    grid-template-columns: repeat(45, 0fr);/*45*/
    grid-template-rows: repeat(auto-fill, 0fr);
    width: 100%;
    max-height: 100px;
  }
  
  .grid-item {
    background-color: #f1f1f1;
    border: 1px solid #999;
    text-align: center;
    /* color: transparent; */
    color: black;
    /* font-size: 10px; */

    background-color: rgb(230, 224, 224);
    transition: background-color 0.5s;
    transition: transform 0.1s;
    height: 20px;
    width: 20px;
}

header{
    text-align: center;
    padding-bottom: 15px;
}
.black{
    background-color: black;
}
.startnode{
    color: black;
    background-color: lightblue;
}
.destnode{
    color: black;
    background-color: lightgreen;
}
.yellow{
    background-color: yellow;
}  
.maroon{
    background-color: rgb(135, 239, 79);
    transform: scale(1.5);
     
}
.maroon2{
    background-color: rgb(79, 222, 222);

    transform: scale(1);
}
.pink{
    background-color: rgb(208, 65, 89);
    transform: scale(1.5);
}